
.business-logo{
    height: 50px;
}

#unimarken-reset-sb {
    color: #4A6F9F !important;
    background-color: #fff !important;
}

#unimarken-reset-sb:hover{

    border: solid 1px #dddee000;
    background-color: #4A6F9F;
    color: white;
}